* {
  box-sizing: border-box;
}

body {
  background-color: #ecf1fd;
  margin: 0;
}

#root {
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}
